/* navbar styles */
.nav-container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #070707;
    width:100%;
    min-height: 60px;
    border-top:5px solid #fcfc10 ;
    padding-top: 5px;
}
.nav-container .logo-section img{
    width:100px;
    
}
.nav-container .logo-section{
   order:2;
}
.nav-container .search-btn{
    order:3;
    display: flex;
    justify-self: flex-end;
    
}
.nav-container .hamburger{
    padding-left: 10px;
}
.nav-container .search-btn{
    padding-right: 10px;
}
.nav-container .hamburger img{
    width:45px;
    background-color: #fcfc10;
    padding: 6px 10px;
    color:black;
}

.nav-center{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}
.nav-links-main{
    display: none;
}
.nav-links-main .nav-links a{
    text-decoration: none;
}
.nav-links-main .nav-links{
    list-style-type: none;
}

.search-btn .input-box{
    display: none;

}


input[type="text"]{
    border: 1px solid #797373;
    border-radius: 22px;
    padding:0px 35px;
    width:300px;
    outline: none;
    background-color: #1c1c1c;
    
}
input[type="text"]:focus{
    background-color: black;
    color:white;

}
input::placeholder{
    margin: 10px;
   

   
}
.btn{
    padding:10px 20px;
    margin-left:-50px;
    background-color: #fcfc10;
    

}

/* .search-btn .btn i{
    display: block;
} */

/* navbar styles  end*/
@media screen and (min-width:992px){

    .nav-container{
        min-height:80px;
        
    }

    .nav-container .hamburger{
        display:none;

    }
    
    .nav-container .logo-section img{
        width:130px;
        cursor: pointer;
    }
    .nav-links-main{
        display: flex;
        justify-content:flex-end; 
        order:2;
    }
    .nav-links-main .nav-links{
        display: flex;
        
        
    }
    .nav-links-main .nav-links .nav-link{
        transition: all 0.3s linear;
        padding:10px 15px;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 20px;
        
        
    }
    .nav-links-main .nav-links .nav-link {
        color:#ffff;
    }
    .nav-links-main .nav-links .nav-link  i{
        padding: 10px;
        color:#fcfc10;
    }
    .search-btn .btn{
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        border:none;
        outline: none;

    }
    .search-btn .input-box{
        display: flex;
    
    }
    .nav-links-main .nav-links .nav-link:hover{
        background-color: #797373;
        
    }
    
    
}